.all-movies-container {
  padding-top: 10px;
  padding-left: 30px;
  height: 400px;
}

h6 {
  color: white;
  margin: 5px;
}

.movies-unrented-container h6 {
  margin: 5px;
  margin-top: 30px;
}

.movies-rented {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
}

.movies-unrented {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
}
