.movie {
  position: relative;
  height: 200px;
}

.movie img {
  height: 135px;
  width: 105px;
}

.movie i {
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  color: rgb(255, 251, 251);
}

.movie p {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
  color: white;
}
